:root {
    background-color: black;
    background: var(--background-color);
    color: var(--BaseColor);
    /* --imgBackgroundColor: black; */
    /* --imgBorder: .25rem solid white; */
    /* --imgRadius:100px; */
    --BaseColor: white;
    --cardTextColor: white;
    --background-color: linear-gradient(90deg, rgba(167, 2, 2, 1) 7%, rgba(0, 0, 0, 1) 49%, rgba(96, 0, 189, 1) 100%);
    --reverseBg: linear-gradient(270deg, rgba(167, 2, 2, 1) 7%, rgba(0, 0, 0, 1) 49%, rgba(96, 0, 189, 1) 100%)
}

.projectsBox {
    border: 2px solid none;
    background-color: var(--background-color);


}

.footer {
    color: var(--BaseColor);
}

.header-container {
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: aqua;s */
    max-width: 100%;

}

.Header-Img {
    max-width: 96%;
    max-height: 20rem;
    /* border: 1rem outset white;
    border-radius: 30rem; */

}

.active {
    color: var(--BaseColor);
    /* background: var(--activeTab); */
    /* border: outset white; */
    border: .2rem outset white;
    /* border-left: .2rem outset white;
    border-right: .2rem outset white; */
    /* border-radius: .5rem; */
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    list-style-type: none;
    cursor: pointer;
    background: var(--reverseBg);
    font-size: large;
    font-family:Impact;
    /* margin-block-start: 0em;
    margin-block-end: 0em; */
    /* margin: 0em; */
    padding-inline-start: 0px;
    /* border: .2rem solid whitesmoke; */
    /* border-left: .2rem inset white;
    border-right: .2rem inset white; */
}


/* .projectsBox h1{
    text-align: center;
} */
.events {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--background-color);
}

.event-Img {
    width: 100vw;
    /* max-width: 300px; */
}

.cardColumn {
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--cardTextColor);
}

.Port-Img {
    height: 100px;
    max-width: 200px;

}

.about-Img Img {
    max-width: 5rem;
    border: .25rem solid white;
    border-radius: 100px;
    background-color: black;
    justify-content: center;
    text-align: center;
}

.aboutSin-Img Img {
    max-width: 10rem;
    border: .25rem solid white;
    border-radius: 100px;
    background-color: black;
    justify-content: center;
    text-align: center;
}

/* .aboutSin-Img{
    display: flex;
    justify-content: right;
} */

.about-Img {
    display: flex;
    justify-content: space-between;

}

.star {
    width: 200px;
    height: 200px;
}

.contactBorder{
    background-color: black;
    border-radius: .5rem;
    border: 0.5rem groove whitesmoke;
    padding: 0.2rem;
    margin: 4rem 0px;
}

.linkStyle{
    background: var(--background-color);
    border: 0.5rem ridge whitesmoke;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

/* .merchBorder{
    border-radius: .5rem;
    border: 0.5rem groove whitesmoke;
    padding: 0.2rem;
    margin: 4rem 0px;
} */

.merchLinkStyle{
    background-color: black;
    border: 0.5rem ridge whitesmoke;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    margin: 1rem;





}
.itemDesc{
    text-align: right;
}

.merchImg{
    max-width: 20vw;
    max-height: 10vh;
    /* justify-items: center; */

}

a {
    text-decoration: none;
}

a:visited {
    color: var(--cardTextColor);
}

h1 {
    text-align: center;
}